mat-card {
  margin: 10px;
}

td{
  padding: 1px 10px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-in-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-in-one_input {
  width: 49.5%;
  min-height: 20px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 3px;
}

.equal-height-input{
  min-height: 30px;
  line-height: 21px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 3px;
}

.readonly-input {
  cursor: default;
  user-select: none;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 3px;
}
textarea {
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
}

input {
  box-sizing: border-box;
  width: 100%;
}

.flex-spacer {
  flex-grow: 1;
}

button {
  margin: 1px;
}

