<!--<form [formGroup]="form" (ngSubmit)="submit()">-->

<!--  <input-->
<!--    type="text"-->
<!--    class="border w-full py-2 px-4 mb-2"-->
<!--    placeholder="Point name"-->
<!--    formControlName="title"-->
<!--  >-->

<!--  <button class="py-2 px-4 bg-blue-600 text-white" type="submit">Save</button>-->

<!--</form>-->

<mat-card *ngIf="chargePoint">
  <mat-card-header>
    <mat-card-title class="center-content">
      {{chargePointId}}
      <mat-icon *ngIf="isSaved" color="primary">check_circle</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr><td >Title</td><td ><input class="equal-height-input"
                                     [(ngModel)]="chargePoint.title" /></td><td></td></tr>
      <tr><td >Access type</td><td ><input class="equal-height-input"
                                     [(ngModel)]="chargePoint.access_type" /></td><td></td></tr>
      <tr><td >Access level</td><td ><input class="equal-height-input"
                                     [(ngModel)]="chargePoint.access_level" type="number"
                                            step="1" pattern="[0-9]*" inputmode="numeric"/></td><td></td></tr>
      <tr><td >Address</td><td ><textarea class="equal-height-input"
                                          matInput
                                          cdkTextareaAutosize
                                          #autosize="cdkTextareaAutosize"
                                          cdkAutosizeMinRows="1"
                                          [(ngModel)]="chargePoint.address"></textarea></td><td></td></tr>
      <tr>
        <td>Location</td>
        <td colspan="2" class="two-in-one">
          <input [(ngModel)]="chargePoint.location.latitude" class="two-in-one_input" type="number"/>
          <input [(ngModel)]="chargePoint.location.longitude" class="two-in-one_input" type="number"/>
        </td>
      </tr>
      <tr><td >Description</td><td ><textarea class="equal-height-input"
                                              matInput
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              [(ngModel)]="chargePoint.description"></textarea>
      </td><td></td></tr>
    </table>
  </mat-card-content>
  <mat-card>
    <app-connector-form [connectors]="chargePoint.connectors | sortConnectors"></app-connector-form>
  </mat-card>
  <mat-card-actions>
    <button mat-stroked-button (click)="close()">Close</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
    <div class="flex-spacer"></div>
    <mat-icon class="online-status" *ngIf="chargePoint.is_online; else isNotOnline">cloud_queue</mat-icon>
    <ng-template #isNotOnline>
      <mat-icon color="warn">cloud_off</mat-icon>
    </ng-template>
  </mat-card-actions>
</mat-card>
