@if (pageContent) {
  <div>
    @for (section of pageContent.sections; track section) {
      <div>
        @if (section.title) {
          <h3 [innerHTML]="section.title"></h3>
        }
        @for (paragraph of section.content; track paragraph) {
          <p [innerHTML]="paragraph"></p>
        }
      </div>
    }
    @if (pageContent.contactInfo) {
      <div>
        <h3 [innerHTML]="pageContent.contactInfo.title"></h3>
        @for (paragraph of pageContent.contactInfo.content; track paragraph) {
          <p [innerHTML]="paragraph"></p>
        }
      </div>
    }
  </div>
}
