.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detail-name, .sub-detail-name {
  font-weight: bold;
}

.detail-value {
  /* styling for the value */
}
