mat-card {
  margin: var(--spacing-sm);
}

.online-status {
  color: var(--color-success);
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

button {
  margin: 1px;
}

.online-icon {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.connector-buttons{
  justify-content: flex-start;
}



