@if (chargePoint) {
  <mat-card>
    <mat-card-header>
      <mat-card-title class="center-content">
        {{chargePoint.charge_point_id}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion >
        @for (connector of chargePoint.connectors| sortConnectors ; track connector) {
          <div>
            <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="online-icon" [style.background-color]="getConnectorColor(connector)">
                  </div>
                  {{connector.connector_id}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-action-row class="connector-buttons">
                @if (connector.state === 'available') {
                  <button mat-button color="primary" (click)="startConnector(connector)">Start</button>
                } @else {
                  @if (connector.state !== 'unavailable') {
                    @if (connector.current_transaction_id > 0) {
                      <button mat-button color="warn" (click)="stopConnector(connector)">Stop</button>
                    }
                    @if (connector.current_transaction_id < 0) {
                      <button mat-button color="warn" (click)="unlockConnector(connector)">Unlock</button>
                    }
                  }
                }
              </mat-action-row>
            </mat-expansion-panel>
          </div>
        }
      </mat-accordion>
    </mat-card-content>
    <br>
      <mat-card-actions class="flex-container">
        <button mat-raised-button color="warn" (click)="close()">Close</button>
        <div class="flex-spacer"></div>
        @if (chargePoint.is_online) {
          <mat-icon class="online-status">cloud_queue</mat-icon>
        } @else {
          <mat-icon color="warn">cloud_off</mat-icon>
        }
      </mat-card-actions>
    </mat-card>
  }
