<div class="filter-container">
  <!-- Date Range Picker -->
  <mat-form-field appearance="outline" class="date-range-field">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="startDate" placeholder="Start date" />
      <input matEndDate [(ngModel)]="endDate" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

    <!-- Date Picker Toggle Icon -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <!-- Custom Dropdown Button for Predefined Ranges -->
    <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <!-- Dropdown Menu for Predefined Ranges -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let range of predefinedRanges" (click)="setRange(range.range)">
        {{ range.label }}
      </button>
    </mat-menu>

    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>




  <!-- User Role Dropdown -->
  <mat-form-field appearance="outline">
    <mat-label>Select Group</mat-label>
    <mat-select [(value)]="selectedGroup">
      <mat-option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Data Type Dropdown -->
  <mat-form-field appearance="outline">
    <mat-label>Select Report Type</mat-label>
    <mat-select [(value)]="selectedDataType">
      <mat-option value="month">Month</mat-option>
      <mat-option value="user">User</mat-option>
      <mat-option value="charger">Charger</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Request Data Button -->
  <button mat-raised-button color="primary" (click)="requestData()">Request Data</button>

  <mat-spinner *ngIf="inProgress" diameter="30" color="primary"></mat-spinner>
</div>

<!-- Data Table -->
<mat-card>
  <table mat-table [dataSource]="displayedData">
    <ng-container matColumnDef="name" *ngIf="selectedDataType === 'user' || selectedDataType === 'charger'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> Name </th>
      <td mat-cell *matCellDef="let user" class="center-text"> {{ user.user }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell">Total</td>
    </ng-container>

    <ng-container matColumnDef="userCount" *ngIf="selectedDataType === 'user' || selectedDataType === 'charger'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell" > Count </th>
      <td mat-cell *matCellDef="let user" class="center-text"> {{ user.count }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> {{ totalUserCount }} </td>
    </ng-container>

    <ng-container matColumnDef="userWatts" *ngIf="selectedDataType === 'user' || selectedDataType === 'charger'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> kWatts </th>
      <td mat-cell *matCellDef="let user" class="center-text"> {{ (user.total / 1000) | number:'1.1-1' }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> {{ (totalUserWatts  / 1000) | number:'1.1-1' }} </td>
    </ng-container>

    <ng-container matColumnDef="userAvgWatts" *ngIf="selectedDataType === 'user' || selectedDataType === 'charger'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> Avg kWatts </th>
      <td mat-cell *matCellDef="let user" class="center-text"> {{ (user.average / 1000) | number:'1.1-1' }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> {{ (avgUserWatts / 1000) | number:'1.1-1' }} </td>
    </ng-container>

    <!-- Columns for 'month' data type -->
    <ng-container matColumnDef="year" *ngIf="selectedDataType === 'month'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> Year </th>
      <td mat-cell *matCellDef="let month" class="center-text"> {{ month.year }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> Total </td>
    </ng-container>

    <ng-container matColumnDef="month" *ngIf="selectedDataType === 'month'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> Month </th>
      <td mat-cell *matCellDef="let month" class="center-text"> {{ month.month }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> </td>
    </ng-container>

    <ng-container matColumnDef="count" *ngIf="selectedDataType === 'month'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> Count </th>
      <td mat-cell *matCellDef="let month" class="center-text"> {{ month.count }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> {{ totalMonthCount }} </td>
    </ng-container>

    <ng-container matColumnDef="watts" *ngIf="selectedDataType === 'month'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> kWatts </th>
      <td mat-cell *matCellDef="let month" class="center-text"> {{ (month.total / 1000) | number:'1.1-1' }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> {{ (totalMonthWatts / 1000) | number:'1.1-1' }} </td>
    </ng-container>

    <ng-container matColumnDef="avgWatts" *ngIf="selectedDataType === 'month'">
      <th mat-header-cell *matHeaderCellDef class="center-text header-cell"> Avg kWatts </th>
      <td mat-cell *matCellDef="let month" class="center-text"> {{ (month.average / 1000) | number:'1.1-1' }} </td>
      <td mat-footer-cell *matFooterCellDef class="center-text footer-cell"> {{ (avgMonthWatts / 1000) | number:'1.1-1' }} </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card>

