@if (pageContent) {
  <div>
    <h1 [innerHTML]="pageContent.title"></h1>
    <p [innerHTML]="pageContent.introduction"></p>
    <p [innerHTML]="pageContent.thirdPartyNotice"></p>
    @for (section of pageContent.sections; track section) {
      <div>
        <h2 [innerHTML]="section.title"></h2>
        @for (paragraph of section.content; track paragraph) {
          <p [innerHTML]="paragraph"></p>
        }
        @if (section.list) {
          <ul>
            @for (listItem of section.list; track listItem) {
              <li [innerHTML]="listItem"></li>
            }
          </ul>
        }
      </div>
    }
    @if (pageContent.unsubscribeSection) {
      <div>
        <h2 [innerHTML]="pageContent.unsubscribeSection.title"></h2>
        @for (paragraph of pageContent.unsubscribeSection.content; track paragraph) {
          <p [innerHTML]="paragraph"></p>
        }
      </div>
    }
    @if (pageContent.contactInfo) {
      <div>
        <h2 [innerHTML]="pageContent.contactInfo.title"></h2>
        @for (paragraph of pageContent.contactInfo.content; track paragraph) {
          <p [innerHTML]="paragraph"></p>
        }
      </div>
    }
  </div>
}

