<mat-toolbar class= "toolbar mat-elevation-z8" color="primary">
  <div *ngIf="menuEnabled && username">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="mainMenu" aria-label="Main system menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item (click)="navigateTo('/')">
        <span>Home</span>
      </button>
      <div *ngIf="isAdmin">
        <button mat-menu-item (click)="navigateTo('/syslog')">
          <span>System log</span>
        </button>
      </div>
      <button mat-menu-item (click)="navigateTo('/privacy')">
        <span>Privacy policy</span>
      </button>
    </mat-menu>
  </div>
  <button mat-icon-button *ngIf="!menuEnabled && isAdmin" (click)="navigateTo('/')" aria-label="Back button">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span>{{title}}</span>
  <span class="bar-spacer"></span>

  <span>{{username}}</span>

  <div *ngIf="username; else showLoginButton">
    <button mat-icon-button aria-label="User account" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <ng-template #showLoginButton>
    <button mat-icon-button aria-label="User account" (click)="navigateTo('/account/login')">
      <mat-icon>account_circle</mat-icon>
    </button>
  </ng-template>

</mat-toolbar>
