
<div class="flex-center-vertically">

  <mat-accordion>

    <mat-expansion-panel expanded hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Google account
        </mat-panel-title>
        <mat-panel-description>
          Sign in or register with Google account
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button [disabled]="loading" mat-flat-button color="primary" (click)="onGoogleAccountSignIn()">Sign In</button>
      </mat-action-row>
      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          E-mail
        </mat-panel-title>
        <mat-panel-description>
          Use your e-mail address to sign in or register
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="formEmail" (ngSubmit)="onSubmitEmail()" class="user-form">
        <mat-form-field class="form-field">
          <input matInput placeholder="e-mail address" type="text" formControlName="email">
        </mat-form-field>
        <mat-action-row>
          <button [disabled]="loading" mat-flat-button class="button-spacing" color="primary" type="submit">Sign In</button>
        </mat-action-row>
      </form>
      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Login
        </mat-panel-title>
        <mat-panel-description>
          Sign in with username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="formUsername" (ngSubmit)="onSubmitUsername()" class="user-form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Username" type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-action-row>
          <button [disabled]="loading" mat-flat-button class="button-spacing" color="primary" type="submit">Sign In</button>
          <button [disabled]="loading" mat-flat-button color="warn" (click)="navigateTo('/account/register')">Sign Up</button>
        </mat-action-row>
      </form>

      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-expansion-panel>

  </mat-accordion>

</div>


