
<div class="flex-center-vertically max-width">

  <div>
    <h1 class="mat-h1">{{ 'login.title' | translate }}</h1>
    <p class="mat-body-1">{{ 'login.intro' | translate }}</p>
  </div>

  <mat-accordion>

    <mat-expansion-panel expanded hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'login.google.title' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'login.google.description' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p class="mat-body-1">{{ 'login.google.body' | translate }}</p>
      </div>
      @if (loading) {
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      }
      <mat-action-row>
        <button [disabled]="loading" mat-flat-button color="primary" (click)="onGoogleAccountSignIn()">{{ 'login.google.button' | translate }}</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'login.email.title' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'login.email.description' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p class="mat-body-1">{{ 'login.email.body' | translate }}</p>
      </div>
      <form [formGroup]="formEmail" (ngSubmit)="onSubmitEmail()" class="user-form">
        <mat-form-field class="form-field">
          <input matInput [placeholder]="'login.email.placeholder' | translate" type="text" formControlName="email">
        </mat-form-field>
        @if (loading) {
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        }
        <mat-action-row>
          <button [disabled]="loading" mat-flat-button class="button-spacing" color="primary" type="submit">{{ 'login.email.button' | translate }}</button>
        </mat-action-row>
      </form>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'login.username.title' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'login.username.description' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <p class="mat-body-1">{{ 'login.username.body' | translate }}</p>
      </div>

      <form [formGroup]="formUsername" (ngSubmit)="onSubmitUsername()" class="user-form">
        <mat-form-field class="form-field">
          <input matInput [placeholder]="'login.username.usernamePlaceholder' | translate" type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput [placeholder]="'login.username.passwordPlaceholder' | translate" type="password" formControlName="password">
        </mat-form-field>
        @if (loading) {
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        }
        <mat-action-row>
          <button [disabled]="loading" mat-flat-button class="button-spacing" color="primary" type="submit">{{ 'login.username.signIn' | translate }}</button>
          <button [disabled]="loading" mat-flat-button color="warn" (click)="navigateTo('/account/register')">{{ 'login.username.signUp' | translate }}</button>
        </mat-action-row>
      </form>

    </mat-expansion-panel>

  </mat-accordion>

</div>


