
.connector-content {
  padding: 0;
  margin-left: var(--space-4);
  display: flex;
  align-items: flex-start;
}

.title-with-indicator {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.connector-title {
  font-size: var(--text-base);
  margin-right: var(--spacing-sm);
}

.status-indicator {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: var(--radius-circle);
}

.space {
  width: 12px;
}
