
.connector-content {
  padding: 0;
  margin-left: 16px;
  display: flex;
  align-items: flex-start;
}

.title-with-indicator {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.connector-title {
  font-size: 14px;
  margin-right: 8px;
}

.status-indicator {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.space {
  width: 12px;
}
