
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [mat-menu-trigger-for]="mainMenu" aria-label="Main system menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item (click)="navigateTo('/')">
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="navigateTo('/syslog')">
        <span>System log</span>
      </button>
    </mat-menu>
    <span>{{title}}</span>
    <span class="bar-spacer"></span>
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
    <button mat-icon-button class="example-icon" aria-label="User account" (click)="navigateTo('/account/login')">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</p>

<app-snack-bar></app-snack-bar>
<router-outlet></router-outlet>

  <!--  input field for search filter-->
<!--  <input-->
<!--    type="text"-->
<!--    class="mb-2 border py-2 px-4 w-full"-->
<!--    placeholder="Filter by name..."-->
<!--    [(ngModel)]="filter"-->
<!--  >-->

  <!--  loading indicator-->
<!--  <p *ngIf="loading" class="text-center text-lg">Loading...</p>-->

<!--  <mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

<!--  &lt;!&ndash;   rows of data&ndash;&gt;-->
<!--  <div *ngIf="chargepoints$ | async as chargepoints">-->
<!--  <app-chargepoint *ngFor="let chp of chargepoints | filerChargepoints: filter" [chargepoint]="chp"></app-chargepoint>-->
<!--  </div>-->


<!-- modal window for showing input form-->
<!--<app-modal *ngIf="modalService.isVisible$ | async" title="Add new">-->
<!--  <app-chargepoint-form></app-chargepoint-form>-->
<!--</app-modal>-->

<!-- float button to open modal window-->
<!--<button-->
<!--  class="rounded-full bg-fuchsia-600 text-white fixed right-10 bottom-10 py-2 px-4"-->
<!--  (click)="modalService.open()"-->
<!--  > +-->
<!--</button>-->
