.title-with-icon {
  display: flex;
  align-items: center;
}

.title-with-icon mat-icon {
  margin-right: var(--spacing-sm);
}

mat-card {
  margin: var(--card-margin);
}

mat-card-header {
  padding: var(--spacing-xs) var(--spacing-md);
}

button {
  margin: var(--spacing-md);
}
