<mat-card (click)="openPaymentMethods()">
  <mat-card-header>
    <mat-card-title class="title-with-icon">
      <mat-icon>payment</mat-icon> Payment Methods
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    View, add, edit and delete payment methods
  </mat-card-content>
</mat-card>

<div class="profile-actions">
  <button mat-raised-button (click)="back()">Close</button>
  <button mat-raised-button color="warn" (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</div>
