
<mat-card>
  <mat-card-header>
    <mat-card-title >{{chargepoint.charge_point_id}} :: {{chargepoint.title}}
      <button mat-icon-button class="edit-button" color="primary" (click)="editChargepoint()">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr><td >ID</td><td >{{chargepoint.charge_point_id}}</td><td></td></tr>
      <tr ><td >Status</td><td ><b>{{chargepoint.status}}</b></td><td></td></tr>
    </table>
  </mat-card-content>
  <ng-container *ngFor="let connector of chargepoint.connectors">
    <app-connector [connector]="connector"></app-connector>
  </ng-container>
</mat-card>

