mat-card {
  margin: 10px;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
th,td {
  padding: 2px;
}
td {
  max-width: 20%;
}
button {
  margin: 5px;
}

mat-card-title {
  display: flex;
  align-items: center;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: -4px;
  padding: 8px;
  padding-top: 14px;
}

.online-icon {
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.edit-icon {
  font-size: 20px;

}

.details-container {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  margin-bottom: 10px;
}

.label {
  width: 150px;
  font-weight: bold;
}

.value {
  flex: 1;
}

.space {
  width: 12px;
}

