mat-card {
  margin: 10px;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
th,td {
  padding: 2px;
}
td {
  max-width: 20%;
}

/*.like-input{*/
/*  min-height: 20px;*/
/*  border: 1px solid #000;*/
/*  background-color: whitesmoke;*/
/*  padding: 1px 5px;*/
/*  border-radius: 2px;*/
/*}*/

.online-icon {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online-status {
  color: limegreen;
}

.two-in-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name_field {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2px 5px;
}

.two-in-one_input {
  width: 200%;
  padding-right: 12px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

button {
  margin: 1px;
}
