<!--<form [formGroup]="form" (ngSubmit)="submit()">-->

<!--  <input-->
<!--    type="text"-->
<!--    class="border w-full py-2 px-4 mb-2"-->
<!--    placeholder="Point name"-->
<!--    formControlName="title"-->
<!--  >-->

<!--  <button class="py-2 px-4 bg-blue-600 text-white" type="submit">Save</button>-->

<!--</form>-->

<mat-card *ngIf="chargePoint">
  <mat-card-header>
    <mat-card-title class="center-content">
      {{chargePointId}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>Title:</td>
        <td>
          <div class="like-input">
            {{chargePoint.title}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <div class="like-input">
            {{chargePoint.description}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>
          <div class="like-input">
            {{chargePoint.address}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Model:</td>
        <td>
          <div class="like-input">
            {{chargePoint.model}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Serial Number:</td>
        <td>
          <div class="like-input">
            {{chargePoint.serial_number}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Vendor:</td>
        <td>
          <div class="like-input">
            {{chargePoint.vendor}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Firmware Version:</td>
        <td>
          <div class="like-input">
            {{chargePoint.firmware_version}}
          </div>
        </td>
      </tr>
      <tr>
        <td>ErrorCode:</td>
        <td>
          <div class="like-input">
            {{chargePoint.error_code}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Info:</td>
        <td>
          <div class="like-input">
            {{chargePoint.info}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>
          <div class="like-input">
            {{chargePoint.status}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Last seen:</td>
        <td>
          <div class="like-input">
            {{chargePoint.last_seen | date: "short"}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Event time:</td>
        <td>
          <div class="like-input">
            {{chargePoint.event_time | date: "short"}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Status time:</td>
        <td>
          <div class="like-input">
            {{chargePoint.status_time | date: "short"}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Location:</td>
        <td colspan="2" class="two-in-one">
          <div class="like-input two-in-one_input">
            {{chargePoint.location.latitude}}
          </div>
          <div class="like-input two-in-one_input">
            {{chargePoint.location.longitude}}
          </div>
        </td>
      </tr>
    </table>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let connector of chargePoint.connectors ">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="online-icon" [style.background-color]="getConnectorColor(connector)">
              </div>
              {{connector.connector_id}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <table>
            <tr>
            </tr>
            <tr>
              <td>Type:</td>
              <td>
                <div class="like-input">
                  {{connector.type}}
                </div>
              </td>
            </tr>
            <tr>
              <td>Status:</td>
              <td>
                <div class="like-input">
                  {{connector.status}}
                </div>
              </td>
            </tr>
            <tr>
              <td>Status time:</td>
              <td>
                <div class="like-input">
                  {{connector.status_time | date: "short"}}
                </div>
              </td>
            </tr>
            <tr>
              <td>info:</td>
              <td>
                <div class="like-input">
                  {{connector.info}}
                </div>
              </td>
            </tr>
            <tr>
              <td>VendorID:</td>
              <td>
                <div class="like-input">
                  {{connector.vendor_id}}
                </div>
              </td>
            </tr>
            <tr>
              <td>Error code:</td>
              <td>
                <div class="like-input">
                  {{connector.error_code}}
                </div>
              </td>
            </tr>
            <tr>
              <td>kWatt:</td>
              <td>
                <div class="like-input">
                  {{connector.power}}
                </div>
              </td>
            </tr>
            <tr>
              <td>Transaction:</td>
              <td>
                <div class="like-input">
                  {{connector.current_transaction_id}}
                </div>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions class="flex-container">
    <button mat-raised-button color="warn" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="reboot()">Reboot</button>
    <div class="flex-spacer"></div>
    <mat-icon class="online-status" *ngIf="chargePoint.is_online; else isNotOnline">cloud_queue</mat-icon>
    <ng-template #isNotOnline>
      <mat-icon color="warn">cloud_off</mat-icon>
    </ng-template>
  </mat-card-actions>
</mat-card>



