<!--<form [formGroup]="form" (ngSubmit)="submit()">-->

<!--  <input-->
<!--    type="text"-->
<!--    class="border w-full py-2 px-4 mb-2"-->
<!--    placeholder="Point name"-->
<!--    formControlName="title"-->
<!--  >-->

<!--  <button class="py-2 px-4 bg-blue-600 text-white" type="submit">Save</button>-->

<!--</form>-->

<mat-card *ngIf="chargePoint">
  <mat-card-header>
    <mat-card-title class="center-content">
      {{chargePointId}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>Title:</td>
        <td>
          <div class="like-input">
            {{chargePoint.title}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <div class="like-input">
            {{chargePoint.description}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>
          <div class="like-input">
            {{chargePoint.address}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>
          <a href="https://www.google.com/maps?q={{chargePoint.location.latitude}},{{chargePoint.location.longitude}}" target="_blank">
            {{chargePoint.location.latitude.toFixed(3)}};{{chargePoint.location.longitude.toFixed(3)}}
          </a>
        </td>
      </tr>
      <tr>
        <td>Access type:</td>
        <td>
          <div class="like-input">
            {{chargePoint.access_type}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Model:</td>
        <td>
          <div class="like-input">
            {{chargePoint.model}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Serial Number:</td>
        <td>
          <div class="like-input">
            {{chargePoint.serial_number}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Vendor:</td>
        <td>
          <div class="like-input">
            {{chargePoint.vendor}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Firmware Version:</td>
        <td>
          <div class="like-input">
            {{chargePoint.firmware_version}}
          </div>
        </td>
      </tr>
      <tr>
        <td>ErrorCode:</td>
        <td>
          <div class="like-input">
            {{chargePoint.error_code}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Info:</td>
        <td>
          <div class="like-input">
            {{chargePoint.info}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>
          <div class="like-input">
            {{chargePoint.status}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Event time:</td>
        <td>
          <div class="like-input">
            {{timeService.getTimeDifference(chargePoint.event_time)}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Status time:</td>
        <td>
          <div class="like-input">
            {{timeService.getTimeDifference(chargePoint.status_time)}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Access level:</td>
        <td>
          <div class="like-input">
            {{chargePoint.access_level}}
          </div>
        </td>
      </tr>

    </table>
    <br>
    <mat-accordion >
      <div *ngFor="let connector of chargePoint.connectors| sortConnectors ">
        <app-connector-info [connector]="connector"></app-connector-info>
      </div>
    </mat-accordion>
  </mat-card-content>
  <br>
  <mat-card-actions class="flex-container">
    <button mat-stroked-button (click)="close()">Close</button>
    <button mat-flat-button color="primary" (click)="reboot(1)">Soft Reset</button>
    <button mat-flat-button color="primary" (click)="reboot(0)">Hard Reset</button>
    <div class="flex-spacer"></div>
    <mat-icon class="online-status" *ngIf="chargePoint.is_online; else isNotOnline">cloud_queue</mat-icon>
    <ng-template #isNotOnline>
      <mat-icon color="warn">cloud_off</mat-icon>
    </ng-template>
  </mat-card-actions>
</mat-card>



