<div class="flex-center-vertically">
<!--  <mat-card>-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Card verification</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <br>-->
<!--    <mat-card-content>-->
      <div id="card-form"></div>
      <form name="datos" class="user-form">
        <input type="hidden" id="token" [(ngModel)]="token" [ngModelOptions]="{standalone: true}">
        <input type="hidden" id="errorCode" [(ngModel)]="errorCode" [ngModelOptions]="{standalone: true}">
        <a href="javascript:void(0)" (click)="showValues()">Show values</a>
      </form>
<!--    </mat-card-content>-->
<!--  </mat-card>-->
</div>
