<mat-expansion-panel [expanded]="isDialog()" *ngIf="connector">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="online-icon" [style.background-color]="getConnectorColor(connector)">
      </div>
      {{connector.connector_id}}
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <table>
    <tr>
    </tr>
    <tr>
      <td>Type:</td>
      <td>
        <div class="like-input">
          {{connector.type}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <div class="like-input">
          {{connector.status}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Status time:</td>
      <td>
        <div class="like-input">
          {{timeService.getTimeDifference(connector.status_time)}}
        </div>
      </td>
    </tr>
    <tr>
      <td>info:</td>
      <td>
        <div class="like-input">
          {{connector.info}}
        </div>
      </td>
    </tr>
    <tr>
      <td>kWatt:</td>
      <td>
        <div class="like-input">
          {{connector.power}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Transaction:</td>
      <td>
        <div class="like-input">
          {{connector.current_transaction_id}}
        </div>
      </td>
    </tr>
  </table>
  <mat-action-row class="connector-buttons">
    <button *ngIf="isDialog()" mat-button (click)="dialogRef?.close('no')">Close</button>
    <button *ngIf="connector.state === 'available'; else notAvailable" mat-flat-button color="primary" (click)="onStartConnector(connector)">Start</button>

    <ng-template #notAvailable>
      <ng-container *ngIf="connector.state !== 'unavailable'">
      <button *ngIf="connector.current_transaction_id > 0" mat-flat-button color="accent" (click)="stopConnector(connector)">Stop</button>
      <button *ngIf="connector.current_transaction_id < 0" mat-flat-button color="accent" (click)="unlockConnector(connector)">Unlock</button>
      </ng-container>
    </ng-template>
  </mat-action-row>
</mat-expansion-panel>
