@if (connector) {
  <mat-expansion-panel [expanded]="isDialog()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="online-icon" [ngClass]="getConnectorStatusClass(connector)">
        </div>
        {{connector.connector_id}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.type' | translate }}</td>
        <td>
          <div class="like-input">
            {{connector.type}}
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.status' | translate }}</td>
        <td>
          <div class="like-input">
            {{connector.status}}
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.statusTime' | translate }}</td>
        <td>
          <div class="like-input">
            {{timeService.getTimeDifference(connector.status_time)}}
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.info' | translate }}</td>
        <td>
          <div class="like-input">
            {{connector.info}}
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.kwatt' | translate }}</td>
        <td>
          <div class="like-input">
            {{connector.power}}
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.powerLimit' | translate }}</td>
        <td>
          <div class="like-input">
            {{connector.current_power_limit}}
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'connectorInfo.transaction' | translate }}</td>
        <td>
          <div class="like-input">
            {{connector.current_transaction_id}}
          </div>
        </td>
      </tr>
    </table>
    <mat-action-row class="connector-buttons">
      @if (isDialog()) {
        <button mat-button (click)="dialogRef?.close('no')">{{ 'common.close' | translate }}</button>
      }
      @if (canStartTransaction(connector)) {
        <button mat-flat-button color="primary" (click)="onStartConnector(connector)">{{ 'connectorInfo.start' | translate }}</button>
      } @else {
        @if (connector.state !== 'unavailable') {
          @if (connector.current_transaction_id > 0) {
            <button mat-flat-button color="accent" (click)="stopConnector(connector)">{{ 'connectorInfo.stop' | translate }}</button>
          }
          @if (connector.current_transaction_id < 0) {
            <button mat-flat-button color="accent" (click)="unlockConnector(connector)">{{ 'connectorInfo.unlock' | translate }}</button>
          }
        }
      }
    </mat-action-row>
  </mat-expansion-panel>
}
