
<mat-card>
  <mat-card-header>
    <ng-template [ngIf]="isEditing">
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="paymentMethod.description">
      </mat-form-field>
    </ng-template>
    <ng-template [ngIf]="!isEditing">
      {{paymentMethod.description}}
    </ng-template>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr><td></td><td>Expiry {{expiryDate(paymentMethod.expiry_date)}}</td><td>{{cardLogo(paymentMethod.card_brand)}}</td></tr>
      <tr *ngIf="paymentMethod.is_default" class="warn" ><td>default</td><td></td><td></td></tr>
    </table>
  </mat-card-content>
  <ng-template [ngIf]="!isEditing && paymentMethod.selected">
    <mat-card-actions align="start" class="tool-panel" *ngIf="paymentMethod.selected">
        <button mat-raised-button class="title-with-icon" color="primary" (click)="setDefault()" *ngIf="!paymentMethod.is_default">
          <mat-icon class="edit-icon">star</mat-icon>
          Set default
        </button>
        <button mat-raised-button class="title-with-icon" color="primary" (click)="editDescription()">
          <mat-icon class="edit-icon">edit</mat-icon>
          Edit description
        </button>
        <button mat-raised-button class="title-with-icon" color="warn" (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
    </mat-card-actions>
  </ng-template>
  <ng-template [ngIf]="isEditing">
    <mat-card-actions align="start" class="tool-panel">
      <button mat-raised-button class="title-with-icon" color="primary" (click)="saveDescription()">
        <mat-icon class="edit-icon">save</mat-icon>
        Save
      </button>
      <button mat-raised-button class="title-with-icon" color="warn" (click)="cancelEdit()">
        <mat-icon class="edit-icon">cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>


