
<mat-card>
  <mat-card-header>
    @if (isEditing) {
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="paymentMethod.description">
      </mat-form-field>
    }
    @if (!isEditing) {
      {{paymentMethod.description}}
    }
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr><td></td><td>Expiry {{expiryDate(paymentMethod.expiry_date)}}</td><td>{{cardLogo(paymentMethod.card_brand)}}</td></tr>
      @if (paymentMethod.is_default) {
        <tr class="warn" ><td>default</td><td></td><td></td></tr>
      }
    </table>
  </mat-card-content>
  @if (!isEditing && paymentMethod.selected) {
    @if (paymentMethod.selected) {
      <mat-card-actions align="start" class="tool-panel">
        <button mat-flat-button class="title-with-icon" color="accent" (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <button mat-flat-button class="title-with-icon" color="primary" (click)="editDescription()">
          <mat-icon class="edit-icon">edit</mat-icon>
          Edit description
        </button>
        @if (!paymentMethod.is_default) {
          <button mat-flat-button class="title-with-icon" color="primary" (click)="setDefault()">
            <mat-icon class="edit-icon">star</mat-icon>
            Set default
          </button>
        }
      </mat-card-actions>
    }
  }
  @if (isEditing) {
    <mat-card-actions align="start" class="tool-panel">
      <button mat-flat-button color="accent" (click)="cancelEdit()">
        Close
      </button>
      <button mat-flat-button class="title-with-icon" color="primary" (click)="saveDescription()">
        <mat-icon class="edit-icon">save</mat-icon>
        Save
      </button>
    </mat-card-actions>
  }
</mat-card>


