html, body {
  height: 100%;
}
body {
  margin: 80px 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}
.box-margin {
  margin: 10px;
}
.bg-dark {
  background: darkgray;
}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.max-width {
  max-width: 500px;
}
.button-spacing {
  margin-right: 8px;
}
