<div >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register new user</mat-card-title>
    </mat-card-header>
    <br>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-form">
          <p>
            <mat-form-field>
              <input matInput placeholder="First, Last Name" type="text" formControlName="name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Username" type="text" formControlName="username">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Invite code" type="text" formControlName="token">
            </mat-form-field>
          </p>
          <mat-card-actions align="end">
            <button [disabled]="loading" mat-raised-button color="primary" type="submit">Sign Up</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
      @if (loading) {
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      }
    </mat-card>

  </div>

