

.connector-content {
  padding: 0;
  margin-left: 16px;
  display: flex;
  align-items: flex-start;
}

.connector-title {
  font-size: 14px;
  max-lines: 1;
}

.status-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.data{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.custom-button {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  width: 250px;
  height: fit-content;
  z-index: 0;
}

.button-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.connector-number {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.connector-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info-item:last-child {
  margin-bottom: 0;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Пример динамического стиля */
[data-available='true'] {
  color: green;
}

[data-available='false'] {
  color: red;
}

.fix-width {
  width: 140px;
}

.button-container {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 400px) {
  .button-container {
    flex-direction: column;
  }

  .title-container {
    vertical-align: top;
  }

  .space{
    height: 4px;
  }
}
