<mat-card-content class="connector-content">
  <table>
    <tr>
      <td>
        <mat-card-title class="connector-title">Connector {{connector.connector_id}}:</mat-card-title>
      </td>
      <td>
        <button mat-flat-button [style.background-color]="getConnectorColor()" class="data custom-button">{{connector.status}}</button>
        <button mat-flat-button color="primary" class="data custom-button" *ngIf="connector.current_transaction_id>=0">Transaction: {{connector.current_transaction_id}}</button>
      </td>
    </tr>
  </table>
</mat-card-content>




