<mat-card-content class="connector-content">
  <table>
    <tr>
      <td class="title-container">
        <mat-card-title class="connector-title">Connector {{getConnectorName()}}:</mat-card-title>
      </td>
      <td class="button-container">
        <button mat-flat-button [style.border-color]="getConnectorColor()" class="data custom-button fix-width">{{connector.status}}</button>
        <div class="space"></div>
        <button mat-stroked-button color="primary" class="data custom-button" *ngIf="connector.current_transaction_id>=0">Transaction: {{connector.current_transaction_id}}</button>
      </td>
    </tr>
  </table>
</mat-card-content>




